<h1>About Milan</h1>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "milan.jpg", alt: "Milan" %>
	</div>	
	<div class="col-md-8">
		I am fullstack web developer working in Ruby on Rails and Backbone. Also I am CEO for more than 7 years of 
		HTML Majstor web development company.
	</div>
</div>
