<h1>Contact</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Milan Cancarevic</h3>

    <p>Belgrade</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "123123123" %></p>

    <h3>Email</h3>

    <p><a href="mailto:milancancarevic@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90484.07649183914!2d20.629039320610225!3d44.86987979559478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7edfdb24b6b1%3A0xff240110aa17676a!2sPancevo!5e0!3m2!1sen!2srs!4v1495976853794" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>