<div class="inner cover">
  <h1 class="cover-heading">Milan Cancarevic</h1>
  <p class="lead">Welcome to Rails 5 app for IT370 project.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>